In [12]:
score = [61,2,43,4,5,6,7,8,9]
print(score)
print(type(score))
id(score)
score[0]
for i in range(len(score)):
    print(i,score[i])
for i in range(len(score)):
    score[i] = i*10
    print(score[i])

[61, 2, 43, 4, 5, 6, 7, 8, 9]
<class 'list'>
0 61
1 2
2 43
3 4
4 5
5 6
6 7
7 8
8 9
0
10
20
30
40
50
60
70
80

In [ ]:
list1 = list()
print(list1)
list2 = list("Hello")
print(list2)
list3 = list(range(0,5))
print(list3)
list4 = [12,"dog",180.14]

[]
['H', 'e', 'l', 'l', 'o', ' ', 's', 'h', 'i', 't', ' ', 'o', 'f', ' ', 'w', 'o', 'r', 'l', 'd']
[0, 1, 2, 3, 4]

In [ ]:
text = "may the force be with you"
print(text[0], text[4], text[6], text[-7])
list1 = list(text)
print(type(text))
print(list1)
list2 = ["바나나", "터미네이터", "스타워즈", "어벤져스"]
print(list2[2][3])#list 안의 list로 만들어 순서를 이용하여 데이터를 뽑는 문법
two = list2[1]
print(two[2])

m t e i
<class 'str'>
['m', 'a', 'y', ' ', 't', 'h', 'e', ' ', 'f', 'o', 'r', 'c', 'e', ' ', 'b', 'e', ' ', 'w', 'i', 't', 'h', ' ', 'y', 'o', 'u']
즈
네

In [30]:
num = [1,2,3,4,5,6,7,8,9]
print(num[-8:-4])
print(type(num))
num.insert(2,"qwer")
print(num)

[2, 3, 4, 5]
<class 'list'>
[1, 2, 'qwer', 3, 4, 5, 6, 7, 8, 9]

In [37]:
heros = ["슈퍼맨", "블랙위도우", "아이언맨", "캡아", "토르", "스파이더맨"]
if "슈퍼맨" in heros:
    print("있네?")
index = heros.index("아이언맨")
print(index)
heros.remove
print(heros)
s_heros = sorted(heros)
print(s_heros)
print(heros)

있네?
2
['슈퍼맨', '블랙위도우', '아이언맨', '캡아', '토르', '스파이더맨']
['블랙위도우', '슈퍼맨', '스파이더맨', '아이언맨', '캡아', '토르']
['슈퍼맨', '블랙위도우', '아이언맨', '캡아', '토르', '스파이더맨']

In [ ]:
word = sorted("may the force be with you".split(),key=str.lower)#문장은 1개로 인식하기 때문에 단어 슬라이싱을 해서 리스트로 표현
print(word)
numb = sorted([4,5,2,3,5,7,1,3],reverse=True)#순서를 바꿔서 표현. ''부울''형
print(numb)

['be', 'force', 'may', 'the', 'with', 'you']
[7, 5, 5, 4, 3, 3, 2, 1]

In [ ]:
statement = "i'm your father"
li = statement.split(",")#쉼표(기재한)기준으로 문자열을 나누는 함수
print(li)

["i'm your father"]

In [ ]:
total_sum = 0
a = list()
print("값들을 입력하고 끝내려면 end를 입력하시오")
for i in range(0,1000):
    val = input("값을 입력하시오")
    if val == "end":
        break
    a.append(int(val)) #이런 방식으로 쓰면 비어있는 리스트에 for구문이 돌때마다 차례대로 리스트값으로 추가된다. 인풋을 int로 받으면 숫자가 되기때문에 문자를 쓰고 싶으면 나중에 값을 인트로 바꿔야한다.

for j in range(0,i):
    total_sum = total_sum + a[j]

print(a)
print(total_sum)

값들을 입력하고 끝내려면 end를 입력하시오
[3, 4, 2, 5, 4, 3, 4, 2, 4]
31

In [ ]:
import random
Num_list = []
for i in range(10):
    a = random.sample(range(1,100),1)[0]#sample은 항상 리스트를 반환하므로 [0]을 붙여야 한다.
    Num_list.append(a)

print(Num_list)

[72, 22, 51, 83, 91, 49, 52, 91, 88, 25]

In [ ]:
def printStar(list_star)
    for i in range(len(list_star)):
        if list_star[i]<10:
            print(list_star[i],"   ","*"*list_star[i])
        else:
            print()

In [ ]:
a = [x for x in range(5)]  #컴프리헨션 -> 찾아서 이해해야할듯
b = [0,1,2,3,4]
print(a)
print(b)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
words = ["level", "apple", "banana", "civic", "deed", "robot", "radar", "bob", "hello", "pop"]

count = 0
for i in range(len(words)): #list의 인덱스 개수는 len(list)로 구한다.
    divide_words = words[i] #words의 데이터를 하나하나를 리스트로 만드는 방법
    if divide_words[0] == divide_words[-1]: #첫번째 마지막 비교하는 방법 -> 인덱스 비교는 []를 쓰자. ()는 안됨
        print(divide_words,end = " ")
        count += 1
print(f"\n첫글자와 마지막 글자가 같은 단어의 개수는 {count}개 입니다.")

level civic deed radar bob pop
첫글자와 마지막 글자가 같은 단어의 개수는 6개 입니다.

In [74]:
t1 = [1,2,3,4,5]
t2 = tuple(t1)
print(t1)
print(t2)
t3 = (10,)
print(type(t3))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
<class 'tuple'>

In [77]:
t1 = (1,2,3,4,5)
t2 = ("t","e","s","r","e")
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 't', 'e', 's', 'r', 'e')

In [78]:
t1 = (1,2,3,4,5)
3 in t1

True

In [79]:
student1 = ("철수", 19, "CS")
(name,age,major) = student1
print(name)

철수

In [101]:
num = {1,3,4,2,4,1,4,2,3,4}
for x in sorted(num):
    print(x, end = " ")
    print(type(x))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>

In [104]:
a = {1,2,3,4,5}
b = {1,2,3,7}
print(b.issubset(a))

False

In [115]:
contects = {"구":"9112314", "이":'45435234', "천":"7635345"}
print(contects.pop("구"))
print(contects)
contects.add("구")
pront(contects)

9112314
{'이': '45435234', '천': '7635345'}

AttributeError: 'dict' object has no attribute 'add'

In [117]:
score = {"korea":80, "math":90, 'english':50}
for item in score: #키와 값을 같이 출력
    print(item,end=' ')

korea math english

In [125]:
a_list1 = []
for i in range(1000):
    val = input("값을 입력하시오")
    if val == "end":
        break
    a_list1.append(int(val))
print(a_list1)
a_set = set(a_list1)
a_list2 = list(a_set)
a_list2.sort()
print(a_list2)

[3, 4, 4, 3, 3, 2, 3, 3, 3, 1, 423123, 123, 1231, 3154, 654, 35, 345, 34]
[1, 2, 3, 4, 34, 35, 123, 345, 654, 1231, 3154, 423123]